body{
    	background-color: #E3E3E3;
    }
	.container{
		background-color: #fdffee;
		margin-top: 2%;
		border-radius: 5px;
		padding: 1%;
		margin-bottom: 2%;
	}
	.imagenes{
		margin-top: 2%;
		width:90%;
		display:inline-block;
		margin-left: 15%;
		border-radius: 5px;
		border:2px solid black;
	}
	.card-img-top{
		height: 100%;
		width: 100%;
	}
	.card{
		width: 20%;
		display: inline-block;
		padding: 1%;
		margin:1%;
	}
	.contenedor{
		display: inline-block;
	}
	.btn-admin{
	background-color: red;
	}
	.contenedor{
		background-color: #fdffee;
		border-radius:5px;
		margin-top: 30px;
		margin-bottom: 100px;
		margin-left: 120px;
		margin-right: 120px;
		padding: 15px;
		height: 80%;
    }
    #fotoPerf{
    	float:right;
    	position:relative;
    	margin-right: 30px;
    	margin-top: 10px;
    	border:7px solid black;
    	border-radius: 50%;
    }
    .card{
    	display: inline-block;
    	margin:15px; 
    }
    .completada{
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background-color:#5cb85c;
    	display: inline-block;
    }
    .pausa{
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background-color:#ffc107  ;
    	display: inline-block;
    }
    .dejada{
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background-color:#d9534f;
    	display: inline-block;
    }
    .futuro{
    	width: 15px;
    	height: 15px;
    	border-radius: 50%;
    	background-color:#428bca;
    	display: inline-block;
		}
		